{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Mythos VM List {% endblock %}</h1>
    <hr>
    {% for vm in vms %}
        <h3>{{ vm['name'] }}</h2> 
        <b>UUID:</b> {{ vm['uuid'] }} 
        <br>
        <b>Creator:</b> {{ vm['creator'] }}
        <br>
        <b>Purpose:</b> "{{ vm['purpose'] }}"
        <br>
        <b>IP Address:</b> {{ vm['ip'] }}
        <br>
        <b>CPU Cores:</b> {{ vm['cpu_cores'] }}
        <br>
        <b>Ram (MB):</b> {{ vm['rammb'] }}
        <br>
        <b>OS:</b> {{ vm['os'] }}
        <br>
        <form action="{{ url_for('delete', vmid=vm['uuid']) }}" method="POST">
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this VM?')">
        </form>
        <hr>
    {% endfor %}
    <form action="{{ url_for('add') }}" method="POST">
        <input type="text" name="vmname" placeholder="VM name" class="form-control" value="{{ request.form['vmname'] }}"></input>
        <input type="text" name="creator" placeholder="Your name" class="form-control" value="{{ request.form['creator'] }}"></input>
        <input type="text" name="purpose" placeholder="Purpose" class="form-control" value="{{ request.form['purpose'] }}"></input>
        <input type="text" name="ipaddr" placeholder="IP address" class="form-control" value="{{ request.form['ipaddr'] }}"></input>
        <input type="text" name="cpus" placeholder="Number CPUs" class="form-control" value="{{ request.form['cpus'] }}"></input>
        <input type="text" name="rammb" placeholder="RAM (in MBs)" class="form-control" value="{{ request.form['rammb'] }}"></input>
        <input type="text" name="ops" placeholder="Operating system" class="form-control" value="{{ request.form['ops'] }}"></input>
        <input type="submit" value="Add"></input>
    </form>
    
{% endblock %}